.button {
  border-radius: var(--border-radius-100);
  padding: var(--spacing-small) var(--spacing-large);
  font-size: var(--font-size-medium);
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  transition: all 0.2s ease-in;
}

.endSlot {
  margin-left: var(--spacing-smaller);
}

.primary {
  background-color: var(--color-primary);
}

.primary:hover {
  background-color: var(--color-dark-primary);
}

.link {
  margin-left: calc(-1 * var(--spacing-smaller));
  background-color: transparent;
  padding: var(--spacing-smaller);
  color: var(--color-light-blue);
}

.link:hover {
  background-color: rgb(65 65 154 / 52%);
}

.tertiary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
}

.tertiary:hover {
  color: var(--color-dark-grey);
  background-color: var(--color-dark-primary);
  border: 1px solid transparent;
}

.large {
  font-size: var(--font-size-large);
  font-weight: bold;
  padding: var(--spacing-medium) var(--spacing-large);
}
