.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.icon {
  margin-left: var(--spacing-small);
  color: var(--color-white);
}

.icon:hover {
  color: var(--color-primary);
}

@media (--small-viewport) {
  .logo {
    display: none;
  }
}
