.description {
  margin-bottom: var(--spacing-medium);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  font-size: var(--font-size-medium);
  font-weight: 700;
  margin-right: var(--spacing-small);
}

.list {
  display: flex;
}
