.project {
  margin-bottom: var(--spacing-largest);
  display: flex;
}

.thumbnail {
  flex: 0 0 430px;
}

.description {
  padding: 0 var(--spacing-larger);
}

.title {
  color: var(--color-primary);
  font-weight: bold;
}

.text {
  color: var(--color-white);
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-medium);
}

@media (--medium-viewport) {
  .project {
    flex-direction: column-reverse;
    align-items: start;
  }

  .thumbnail {
    flex: 1;
    max-width: 500px;
  }

  .description {
    padding: var(--spacing-larger) 0;
  }
}
